.aside-container {
    padding-top: 5rem;
    padding-inline: 8.125rem;
    color: white;
    width: 100%;

    & h1 {
        font: var(--heading-md);
        margin-bottom: 2.5rem;
    }

    & img {
        width: 1.5rem;
        vertical-align: middle;
        margin-right: 0.75rem;
    }

    & p {
        font: var(--heading-sm);
        margin-bottom: 1.5rem;
    }
}

.aside-container fieldset {
    display: grid;
    grid-template-columns: minmax(272px 1fr);
    border: none;
}

.input-container input {
    background-color: var(--input-base);
    border: 1px solid;
    border-color: var(--input-stroke);
    border-radius: 8px;
    height: 3rem;
    width: 100%;

}


input::placeholder {
    color: var(--input-placeholder);
    padding-left: 10px;


    & [type="date"] {
        color: var(--input-placeholder);

    }
}

input[type="date"] {
    color: var(--input-placeholder);
    padding-left: 10px;
}

.start-end {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    /* background-color: red; */
}

.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 8px;
    border-color: var(--input-stroke);
    background-color: var(--input-base);
}

.options-adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.options-intern {
    display: grid;
    height: 3rem;
    padding: 10px;

    & input[type="radio"] {
        position: absolute;
        opacity: 0;
           
    }


    & label {
        padding-block: 5px;
        border-radius: 8px;
        font: var(--body-sm);
    }
}

.options-intern input[type="radio"]:checked + label {
    background-color: var(--input-stroke);
}

.description div textarea {
    background-color: var(--input-base);
    width: 560px;
    border: 1px solid var(--shape-hover);
    border-radius: 8px;
    padding: 10px;
    color: var(--text-body);
    max-width: 43rem;
    width: 100%;
    max-height: 8.5rem;
}













