.bg-form {
    background-color: var(--shape-body);
    border-radius: 8px;
    color: white; /*COR BRANCA*/
    padding: 80px 130px;

    & h2 {
        margin-bottom: 40px;
        color: var(--text-heading);
        font-family: var(--font-family3);
    }
}

.form-dados {
    display: grid;
}

