* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 95%;
    border-radius: 8px;
}

:root {

    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --brand-light: #59B2FF;
    --navy: #6A59FF;
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --danger: #FF5959;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;


    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --font-family: "Leckerli One", cursive;
    --font-family2: "Baloo 2", sans-serif;
    --font-family3: "Open Sans", sans-serif;

    --logo: 40px var(--font-family);

    --heading-md: bold 28px var(--font-family2);
    --heading-sm: bold 18px var(--font-family2);

    --body-md: 16px var(--font-family3);
    --body-sm: 14px var(--font-family3);
    --body-xs: 12px var(--font-family3);
    overflow-x: hidden;

}

html {
    overflow-x: hidden;

}

body {
    height: 100vh;
    background-color: var(--shape-background);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

#bg-container {
    display: grid;
    grid-template-columns: 25rem 51.25rem;
    justify-content: center;
    height: 100vh;
    margin-top: 25px;
    margin-inline: 12px;
    overflow: hidden;



}

.aside-container {
    background-color: var(--shape-body);
    border-radius: .5rem;
    overflow: auto;
    
}

* legend {
    padding-block: 1rem .75rem;
}




