.wrap-fixed {
    background-image: url(./assets/Background.png);
    background-size: cover;
    border-radius: 8px;

    
}

.festive {
    padding: 32px;
    
    
    & h1 {
        font-family: var(--font-family);
        color: var(--pink);
        margin-block: 16px 4px;
    }

    & p {
        font-family: var(--font-family2);
        color: var(--text-body);
        margin-bottom: 552px;
        
    }
}

